<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Login</title>
</head>
<body class="Signin-body">
    <div class="login-page">
        <p id="Coursez">Bookez</p>
        <div class="login-form">
            <form action="/Login" method="post">
                <divc class="form">
                    <div>
                        <p>Userame:</p>
                        <input type="text" name="username" placeholder="Enter your name" required>
                    </div>
                    <div>
                        <p>Password:</p>
                        <input type="password" name="password" placeholder="Enter your password" required>
                    </div>
                    <input type="submit" id="submit_btn" style="cursor: pointer;">
                    <a href="/Signup">Don't have an account?</a>
                </div>
            </form>
        </div>
    </div>
</body>
</html>